.nav {
    padding: 25px 0;

    color: var(--nav-text-color);
    background-color: var(--black);
    transition: box-shadow 0.2s ease-in;

    user-select: none;

    &:hover {
        box-shadow: 0px -5px 10px -3px whitesmoke inset;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        font-weight: 600;
    }

    &__item {
    }

    &__link {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            top: 100%;
            left: 0;

            width: 0;
            height: 2px;

            background-color: var(--secondary);
            transition: width 0.2s ease-in;
        }

        &:hover::after {
            width: 100%;
        }

        &--active {
            &::after {
                width: 100%;
                background-color: var(--accent);
            }
        }
    }
}
