.project-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    padding: 25px;
    width: 370px;
    height: 350px;

    font-family: var(--font-card);
    text-align: start;

    border-radius: 10px;
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white);

    @include tablet-sm() {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    &--large {
        width: unset;
        height: unset;

        .project-card__img {
            & img {
                aspect-ratio: auto;
                width: 741px;
                height: 546px;

                @include mobile() {
                    width: unset;
                    height: 546px;
                }
            }
        }
    }

    &__img {
        border-radius: 10px;
        overflow: hidden;

        & img {
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        color: var(--black);
    }
}
