.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    padding: 25px;
    width: 370px;
    height: 350px;

    text-align: start;
    border-radius: 10px;
    box-shadow: 0 5px 35px 0 rgba(255, 255, 255, 0.3);
    background-color: var(--white);

    // aspect-ratio: 1/1;

    &__img {
        // height: 278px;
        border-radius: 10px;
        overflow: hidden;

        & img {
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        color: var(--black);
    }
}
