:root {
    --font-card: 'Wittgenstein', serif;
    --white: #fff;
    --black: #000;
    --main-bg: #fafafa;
    // --accent: #1ba645;
    // --accent: #ffd400;
    --accent: #65eaff;

    --secondary: #a6b014;

    --main-text-color: var(--white);
    --nav-text-color: var(--white);
    --header-bg: #000;
}
